<!-- <ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgb(248,237,219))">
  <div>
    <ion-item style="--background:black !important; color: white;" lines='none'>
      <ion-buttons slot="start" class="ion-no-margin">
        <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
      </ion-buttons>
      <ion-title header-title>Notifications</ion-title>
    </ion-item>
  </div>

  <div class="ion-padding">

    <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf='data.length=== 0' class="noavail">
      <p>
        No Notification Available.
      </p>
      <ion-icon name='happy-outline'></ion-icon>
    </div>

    <!-- *ngFor='let item of data; let i = index' -->
    <div class="card" *ngFor='let item of data; let i = index' >
      <div class="align" *ngIf='item.booking!==null'>
        <div class="div1">
          <img src="../../assets/UI_Icons/women-services/face.png" alt="" width="90px" height="90px"
            *ngIf='item.user.image===null'>
          <img src='{{item.user.imageUri}}' alt="" width="90px" height="90px"
            *ngIf='item.user.image!==null'>
        </div>
        <div class="div2">
          <div class="div2_1">
            <p id="name">{{item.user.name}}</p>
            <p id='duration'>{{item?.service?.duration}} mins</p>
          </div>
          <!-- <p id="location">Service Location</p> -->
          <p id="address">{{item.service.name}}.</p>
          <!-- <p id="timing">Timings</p>
          <p id="time">Sun , 20 Jan, 2021 at 12:30 pm</p> -->
        </div>
      </div>

    </div>
  </div>

</ion-content>
